body { 
	margin: none;
	padding: none;
	background-color: #000000;
	background-image: url(bg.jpg);
	background-size: 110%;
	background-repeat: repeat-x;
}
#wrapper {
	text-align: center;
	padding-top: 50px;
}

.plus18 {
	margin: 0 auto;
	background-image: url(18pluslogo.png);
	width: 192px;
	height: 192px;
}

H1 {
	color: #fff;
	font-size: 55px;
	text-shadow: 3px 3px 0px black;
	margin: 0;
}
.areyou {
	margin: 10px auto;
	color: #9e9e9e;
	font-size: 25px;
	text-align: center;
	text-shadow: 1px 1px 0px black;
}

.button {
	padding: auto;
	text-align: center;
	font-size: 40px;
	color: #fff;
	margin: 10px 10px;
	display: inline-block;
	width: 160px;
	height: 50px;
	background-color: #006b06;
	/* opacity: 0.8; */
	border: 3px solid #565656;
	border-radius: 10px;
}

.button2 {
	padding: auto;
	text-align: center; font-size: 40px; color: #fff;
	margin: 10px 10px; display: inline-block;
	width: 160px;
	height: 50px;
	opacity: 0.8;
}